/*
 * @Author: Superficial
 * @Date: 2019-12-17 14:33:52
 * @LastEditTime : 2019-12-22 15:47:22
 * @Description: 布局类
 */

/** 容器类样式 */
.wrap {
  width: 1200px;
  margin: 0 auto;
  height: inherit;
}

/** 布局 */
.wrap {
  .content {
    width: 70%;
  }

  .sidebar-wrapper {
    width: 25%;
  }
}
