/* reset */
@import './variable';

ul,ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
}

p code {
  padding: 2px 5px;
  font-size: 85%;
  background-color: #f7f7f9;
  border-radius: 3px;
  border: 1px solid #e3edf3;
  border-radius: 3px;
  color: #d14;
}


/*滚动条整体样式*/
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/*滚动条滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.5);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: #ccc;
}

a {
  color: #999;
  text-decoration: none;
}

ul li,ol li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}


@each $colorKey,$color in $colors {
  // 文字颜色(color)
  .text-#{$colorKey} {
    color: $color;
  }
  // 背景色(background-color)
  .bg-#{$colorKey} {
    background-color: $color;
  }
};


// 文本居中方式(text-algin)
@each $var in (left,center,right) {
  .text-#{$var} {
    text-align: $var;
  }
}


@each $sizeKey,$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
};


.wrap {
  width: 1200px;
  margin: 0 auto;
  height: inherit;
}


.article-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all .4s ease;
  border-bottom: 1px solid #eee;
  &:hover .thumbnail {
    transform: scale(1.075);
  }
  &:last-child {
    margin-bottom: 20px;
  }
  .thumbnail-wrap {
    margin-right: 10px;
    overflow: hidden;
    .thumbnail {
      display: block;
      width: 240px;
      height: 160px;
      background-color: #fff;
      border-radius: 6px;
      transition: .4s ease-in-out;
    }
  }
  .article-inner {
    position: relative;
    width: 590px;
    .title {
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
      font-size: 16px;
    }
    .summary {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      height: 90px;
      overflow: hidden;
      color: #555;
      line-height: 24px;
      font-size: 14px;
      word-break: break-word;
      text-overflow: ellipsis;
    }
    .article-info {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 12px;
      .meta {
        font-size: 12px;
        vertical-align: middle;
        color: #999;
      }
      span {
        margin-right: 12px;
        vertical-align: middle;
      }
    }
  }
}